body {
    background-color: black;
	margin:0;
	display:flex;
	height:90vh;
	align-items:center;
}
#content {
    margin: 0 auto;
    overflow: auto;
}
.mainHeader {
    color: white;
    text-align: center;
    font-family: "VT323", monospace;
    font-size: 40px;
}
.mainText {
    color: white;
    text-align: center;
    font-family: "VT323", monospace;
    font-size: 30px;
}
.subText {
    color: white;
    text-align: center;
    font-family: "VT323", monospace;
    font-size: 14px;
}
.textLink {
    color: #FFC107;
}
.textLink:visited {
    color: #FFC107;
}
.textLink:unvisited{
    color: #FFC107;
}
.textLink:hover {
    color: #FFC107;
}
.textLink:active{
    color: #FFC107;
}